<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <link name="camera_frame">
        <visual>
            <geometry>
                <mesh filename="package://my_bot/meshes/box_unit.stl" scale="0.03 0.02 0.015"/>
            </geometry>
            <material name="gray"/>
        </visual>
        <collision>
            <geometry>
                <box size="0.03 0.02 0.015"/>
            </geometry>
        </collision>
        <xacro:inertial_box mass="0.03" x="0.03" y="0.02" z="0.015">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_box>
    </link>
    
    <joint name="camera_joint" type ="fixed">
        <parent link="chassis"/>
        <child link="camera_frame"/>
        <origin xyz= "-0.085 0 0.025" rpy="0 0 0"/>
    </joint>

    <link name="camera_optical_frame"/>

    <joint name="camera_optical_joint" type="fixed">
        <parent link="camera_frame"/>
        <child link="camera_optical_frame"/>
        <origin xyz="0 0 0" rpy="-1.5708 0 -1.5708"/>
    </joint>

</robot>
